small.payment_text{
	color: #646463;
    display: block;
    font-size: 0.6875em;
    line-height: 1em;
    margin-bottom: 0.45455em;
    text-transform: uppercase;
}
i.payment_type_choosen{
	color: #FDBD0E;
}
