@charset "utf-8";
/*@font-face {
	font-family: 'OpenSans';
	src: url('OpenSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
* {
	font-family: "OpenSans";
}*/

* {
	font-family: "Open Sans";
}

a{
	text-decoration: none !important;
}
.container {
	/*width: 1054px;*/
}

img{
	max-height: 240px;
}

.col-padding-5px {
	padding-left: 5px;
	padding-right: 5px;
}

.remove-padding {
	padding: 0;
}

.remove-padding-left {
	padding-left: 0px;
}

.remove-padding-right {
	padding-right: 0px;
}

.separate {
	width: 76%;
	margin: 15px auto;
	border-bottom: 1px solid #CCC;
	clear: both;
}

.text-orange {
	color: #FFCC00;
}

.text-white {
	color: #FAFAFA;
}

.text-brown {
	color: #7A7A7A;
}

.text-brown-black {
	color: #635D5D;
}

.divider {
	border-bottom: 2px solid #ccc;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#home-page {
	/*padding: 0px;*/
}

#top-header {
	margin-top: 30px;
	margin-bottom: 10px;
}

#top-header-left {
	padding-left: 0px;
	padding-right: 0px;
}

#top-header-center .logo {
	margin: 0 auto;
	max-width: 430px;
	margin-bottom: 10px;
}

.logo-text {
	font-size: 40px;
	color: #A1A1A1;
}

.logo-text a {
	color: #A1A1A1;
	text-decoration: none;
}

#top-header-right {
	padding-left: 0px;
	padding-right: 0px;
}

#top-header-right .login-btn, #top-header-right .login-face-btn {
	margin-bottom: 10px;
}

#top-header-right .search-global {

}

#top-header-right .login-face-btn{
	background-color: #6d85b4;
	color: #fff;
}

/*#top-header-right .login-face-btn:hover{
	cursor: pointer;
}*/

#navigation {
	margin-bottom: 10px;
}

#navigation nav {
	background-color: transparent !important;
	border-color: transparent !important;
	margin-bottom: 0px !important;
}

#navigation .navbar-nav > li {
	padding-right: 35px;
	/*padding-left: 20px;*/
}

#navigation .navbar-nav > li div.dropdown-menu {
	padding: 20px;
	width: 540px;
	top: 110%;
}

#navigation .navbar-nav > li div.dropdown-menu .caret {
	position: absolute;
	top: -6px;
	left: 30px;
	color: #FDBD0E;
}

#navigation .navbar-nav > li div.dropdown-menu-hair-background {
	background: #fff url('megamenu-hair.png') right bottom no-repeat;
}

#navigation .navbar-nav > li div.dropdown-menu ul {
	padding-left: 10px;
	padding-right: 10px;
	width: 169px;
}

#navigation .navbar-nav > li div.dropdown-menu ul a {
	padding-left: 15px;
	padding-right: 15px;
	color: #000000;
	font-size: 14px;
}

#navigation .navbar-nav > li div.dropdown-menu ul .divider {
	border-bottom: 1px solid #ffc212 !important;
}

#navigation .navbar-nav > li div.dropdown-menu ul li.group-name span {
	color: #FFCC00;
	font-weight: bold;
}

#navigation .navbar-nav > li.first {
	/*margin-left: 0px;*/
}

#navigation .navbar-nav > li a {
	/*padding-right: 5px;
	 padding-left: 15px;*/
}

#navigation .navbar-nav > li a:hover {
	background-color: #FDBD0E;
	color: #ffffff;
	text-decoration: none;
}

.btn-languages{
	margin-left: 10px;
	cursor: pointer
}

.btn-cart-shop{
	border: 2px solid #ccc;
} 

#navigation .navbar-nav > li.active a {
	background-color: #FDBD0E;
	color: #ffffff;
	font-weight: bold;
}

#header-2 {
	/*min-height: 236px;
	 border: 1px solid #CCC;*/
	margin-bottom: 20px;
}

#slide {
	/*background: url('/Project_Wahanda_Alternative/public/assets/img/Trang-chu-slide.png') no-repeat center;*/
	/*min-height: inherit;*/
}

#search {
	background-color: #FDBD0E;
	padding: 10px 15px;
	margin-bottom: 25px;
	border-radius: 8px;
}

#search .btn-submit {
	font-weight: bold;
}

#search .s-title{
	font-weight: 700;
}

#search .item {
	margin-bottom: 10px;
}

#service-list .item {
	background-color: #F2F2F2;
	border: 1px solid #CCC;
	padding: 12px;
	margin-bottom: 15px;
	/*border-radius: 8px;*/
	font-size: 13px;
}

.title .m-title-icon {
	top: -3px;
	left: -9px;
}

.title .m-title-name {
	/*padding-left: 10px;*/
	font-size: 18px; 
	font-weight: 700;
}

.price {
	font-size: 14px;
	font-weight: bold;
}

.sale-percent  {
	font-weight: bold;
}

#service-list .item:hover, #service-new .item:hover {
	cursor: pointer;
	background-color: #fcfcfc;
	box-shadow: 1px 1px 1px #888888;
}

#service-list .title, #service-new .title, #location-new .title {
	color: #FFCC00;
	margin-bottom: 10px;
}

#service-list .rating {
	color: #FFCC00;
}

#service-list .name {
	font-size: 15px;
	font-weight: bold;
}

#service-list .image {
	margin-bottom: 10px;
}

#service-list .image img {
	margin: 0 auto;
}

#service-list .svl-01 {
	margin-bottom: 10px;
}

#service-list .sale-percent .fa-arrow-down {
	color: #FFCC00;
}

#service-list .service-similar {
	font-style: italic;
	padding-top: 7px;
	font-size: 11px;
	color: #CCC;
}

#service-list .service-similar:hover {
	text-decoration: none;
	color: red;
}

#top_service {
	margin-left: -15px;
	margin-right: -15px;
}
#new_service {
	margin-left: -7px;
	margin-right: -7px;
}

#new_service .new_service_items {
	padding-left: 7px;
	padding-right: 7px;
}

#service-new .service-new-item {
	padding-left: 5px;
	padding-right: 5px;
}

#service-new .item {
	background-color: #f8f8f8;
	border: 1px solid #CCC;
	padding: 12px;
	margin-bottom: 19px;
	font-size: 13px;
}

#service-new .name {
	font-size: 15px;
	font-weight: bold;
	padding-top: 10px;
}

#service-new .service-similar {
	font-style: italic;
	padding-top: 7px;
	font-size: 10px;
	color: #CCC;
}

#service-new .image {
	margin-bottom: 10px;
}

#service-new .image img {
	margin: 0 auto;
}

#service-new .item .rating, #service-new .item .price, #service-new .item .sale-percent {
	padding-left: 2px !important;
	padding-right: 2px !important;
}

#service-new .item .rating {
	font-size: 13px;
	color: #FFCC00;
}

#service-new .item .count-rating {
	font-size: 10px;
}

#service-new .item .price {
	text-align: center;
}

#service-new .item .sale-percent {
	font-size: 12px !important;
	text-align: right;
	color: #594AFF;
}

#service-new .service-similar:hover {
	text-decoration: none;
	color: red;
}

#location-new {
	margin-bottom: 20px;
}

#location-new .image {
	width: 100%;
	max-height: 700px;
	min-height: 250px;
}

#location-new .info .info-content {
	background-color: rgba(192, 192, 192, 0.8);
	padding: 10px;
}

#location-new .info {
	position: absolute;
	bottom: 0px;
	padding: 7px;
	width: 100%;
	font-size: 13px;
}
#location-new .info .name {
	font-weight: bold;
	font-size: 17px;
	color: #ffffff;
}

#location-new .info .description {
	font-size: 13px;
}

#location-new .info a.readmore {
	color: #ffffff;
}

#footer {

}

#footer-info {
	background: url('Trang-chu-footer.png') top left;
	padding-top: 10px;
	padding-bottom: 10px;
}

#footer-last {
	background-color: #FDBD0E;
	box-shadow: 0px -1px 15px #9F9F9F;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*EDIT BOOTSTRAP*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #FDBD0E;
	color: #ffffff;
	font-weight: bold;
}

.btn {
	border-radius: 0;
	font-size: 13px;
}

.btn-border-radius-none {
	border-radius: 0px;
}

.form-control:focus {
	box-shadow: none;
}

.btn-orange {
	color: #4a4a49;
	background-color: #fdbd0e;
	/*border-color: #FF9603;*/
	border-bottom: 1px solid #e1bd42;
}
.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .open .dropdown-toggle.btn-orange {
	color: #fff;
	background-color: #373538;
	border-bottom: 1px solid #373538;
}
.btn-orange:active, .btn-orange.active, .open .dropdown-toggle.btn-orange {
	background-image: none;
}
.btn-orange.disabled, .btn-orange[disabled], fieldset[disabled] .btn-orange, .btn-orange.disabled:hover, .btn-orange[disabled]:hover, fieldset[disabled] .btn-orange:hover, .btn-orange.disabled:focus, .btn-orange[disabled]:focus, fieldset[disabled] .btn-orange:focus, .btn-orange.disabled:active, .btn-orange[disabled]:active, fieldset[disabled] .btn-orange:active, .btn-orange.disabled.active, .btn-orange[disabled].active, fieldset[disabled] .btn-orange.active {
	background-color: #FFDB4A;
	border-color: #FFCC00;
}
.btn-orange.badge {
	color: #FFCC00;
	background-color: #1A1A1A;
}

.btn-orange-black {
	color: #4a4a49;
	background-color: #FDBD0E;
	/*border-color: #FF9603;*/
	border-bottom: 1px solid #e1bd42;
}
.btn-orange-black:hover, .btn-orange-black:focus, .btn-orange-black:active, .btn-orange-black.active, .open .dropdown-toggle.btn-orange-black {
	color: #fff;
	background-color: #373538;
	border-bottom: 1px solid #373538;
}
.btn-orange-black:active, .btn-orange-black.active, .open .dropdown-toggle.btn-orange-black {
	background-image: none;
}

.btn-orange-black.disabled, .btn-orange-black[disabled], fieldset[disabled] .btn-orange-black, .btn-orange-black.disabled:hover, .btn-orange-black[disabled]:hover, fieldset[disabled] .btn-orange-black:hover, .btn-orange-black.disabled:focus, .btn-orange-black[disabled]:focus, fieldset[disabled] .btn-orange-black:focus, .btn-orange-black.disabled:active, .btn-orange-black[disabled]:active, fieldset[disabled] .btn-orange-black:active, .btn-orange-black.disabled.active, .btn-orange-black[disabled].active, fieldset[disabled] .btn-orange-black.active {
	background-color: #FFDB4A;
	border-color: #FFCC00;
}
.btn-orange-black.badge {
	color: #FFCC00;
	background-color: #1A1A1A;
}
.btn-black {
	color: #4a4a49;
	background-color: #FDBD0E;
	border-bottom: 1px solid #e1bd42;
}
.btn-black:hover, .btn-black:focus, .btn-black:active {
	color: #fff;
	background-color: #373538;
	border-bottom: 1px solid #373538;
}
.btn-brown {
	color: #1A1A1A;
	background-color: #CCCCCC;
	border-color: #CCCCCC;
}
.btn-brown:hover, .btn-brown:focus, .btn-brown:active, .btn-brown.active, .open .dropdown-toggle.btn-brown {
	color: #1A1A1A;
	background-color: #FDBD0E;
	border-color: #FDBD0E;
}
.btn-brown:active, .btn-brown.active, .open .dropdown-toggle.btn-brown {
	background-image: none;
}
.btn-brown.disabled, .btn-brown[disabled], fieldset[disabled] .btn-brown, .btn-brown.disabled:hover, .btn-brown[disabled]:hover, fieldset[disabled] .btn-brown:hover, .btn-brown.disabled:focus, .btn-brown[disabled]:focus, fieldset[disabled] .btn-brown:focus, .btn-brown.disabled:active, .btn-brown[disabled]:active, fieldset[disabled] .btn-brown:active, .btn-brown.disabled.active, .btn-brown[disabled].active, fieldset[disabled] .btn-brown.active {
	background-color: #CCCCCC;
	border-color: #CCCCCC;
}
.btn-brown.badge {
	color: #FDBD0E;
	background-color: #1A1A1A;
}

.pagination-sm > li > a, .pagination-sm > li > span {
	margin-right: 5px;
	border-radius: 0;
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span, .pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
	border-radius: 0;
}

.pagination {
	border-radius: 0;
}
.pagination > li > a{
	color : #A09E9E;
}
.pagination > .active > a{
	background-color: #FDBD0E;
	border-color: #FDBD0E;
}
.well {
	border-radius: 0px;
}

input, select, textarea {
	border-radius: 0px !important;
}
#service_nav .navbar-nav > li a:hover {
	background-color: #FDBD0E;
	color: #FFFFFF;
}
#service_nav {
	border-radius: 0px;
}
.progress_bar {
	display: block;
	height: 0.625em;
	background-color: #FDBD0E;
	margin-top: 6px;
}
#days_booking span, #days_eVoucher span {
	margin: 0 5.75px 0 5.75px;
	padding: 5px 6px 5px 6px;
	font-weight: bold;
}
#days_eVoucher span {
	margin: 0 4px 0 4px;
	padding: 5px 6px 5px 6px;
	font-weight: bold;
}
#use_eVoucher span {
	margin: 0 8.5px 0 6px;
	padding: 5px 6px 5px 5.5px;
	font-weight: bold;
}
#date_booking span {
	margin: 0 5.95px 0 5.95px;
	padding: 5px 6px 5px 6px;
}
#date_booking span:hover, #days_booking span:focus {
	cursor: pointer;
	background: none repeat scroll 0% 0% #CCCCCA;
	border-radius: 50%;
	color: #FFFFFF;
	border-width: 5px;
	padding: 5px 6px 5px 6px;
}
#date_booking span.active {
	cursor: pointer;
	background: none repeat scroll 0% 0% #000000;
	border-radius: 50%;
	color: #FFFFFF;
	border-width: 5px;
	padding: 5px 6px 5px 6px;
}
#time_booking {
	margin-top: 15px;
}
#time_booking .row {
	margin-left: 0px;
	margin-right: 0px;
}
#time_booking .row div {
	height: 50px;
	line-height: 50px
}
#time_booking .row:hover, #time_booking .row:focus {
	cursor: pointer;
	background: none repeat scroll 0% 0% #eee;
}
#time_booking div.active {
	background: #000000;
	color: #FFFFFF;
}
#time_booking hr {
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 2px solid #eee;
}
.span-separate {
	position: absolute;
	background: #ADADAD;
	height: 88%;
	width: 1px;
	top: 3px;
	box-shadow: .5px 0 .1px #FFFFFF;
}
.service_properties {
	font-size: 16px;
}
p.description, p.name {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
p#user_description {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.btn-choose {
	color: #FFFFFF;
	background-color: #373538;
	/*border: #000000;*/
}
.btn-choose:hover, .btn-choose:focus, .btn-choose:active {
	color: #FFFFFF;
}
#booking_amount{
	/*border-radius: 50%;
	background-color: #A60000;
	font-weight: bold;
	color: #FFFFFF;
	padding: 1px 5px 1px 5px;
	margin: 0 0 0 5px;*/
	font-size: 10.5px;
}

button.btn-close {
	padding: 2px 6px 2px 6px;
	cursor: pointer;
	border: 2px solid #FFFFFF;
	-webkit-appearance: none;
	background-color: #FDBD0E;
	border-radius: 50%;
	color: #FFFFFF;
	position: absolute;
	right: -12px;
	top: -12px;
	opacity: 1;
}

button.btn-close:hover, button.btn-close:focus, button.btn-close:active{
	opacity: 1;
	color: #FFFFFF;
	background-color: #000000;
}
#evoucher_booking_zone hr{
	border-top: 2px solid #eee;
}
.dis-arm{
	color: #777;
	opacity: 0.4;
	cursor: not-allowed !important;
}
#last_week, #next_week{
	cursor: pointer;
}
#waiting_for_review_load_detail{
	position: absolute;
	left: 50%;
	top: 10px;
	z-index: 1001;
}
#review_field_detail{
	position: relative;
	min-height: 50px;
}
#disallow_detail{
	position: absolute;
	background-color: #FFFFFF;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
#see_more_review_all_detail{
	padding: 5px 0 5px 0;
	border: 1px solid #e7e7e7;
	color: #777;
	cursor: pointer;
}
#see_more_review_all_detail:hover{
	background-color: #777;
	color: #e7e7e7;
}

#login_modal .modal-content {
	border-radius: 0 !important;
}

.text-orange-black {
	color: #373538;
}
.text-orange-black:hover, .text-orange-black:focus, .text-orange-black:active {
	color: #FDBD0E !important;
}
.text-black{
	color: #373538;
}
.pointer{
	cursor: pointer;
}
