ul.dropdown-menu-fix {
	font-size: inherit !important;
	border-radius: 0 !important;
	margin: 0 !important;
}

#evouchers .reports-evouchers {
     bottom: 0px;
     left: 0px;
     min-height: 80px;
     position: absolute;
     right: 0px;
     top: 0px;
     z-index: 10;
}

#evouchers .reports-evouchers.no-supplier {
     display: none;
}

#evouchers .home-filters {
     background: none repeat scroll 0% 0% #eaebe4;
     border-bottom: 1px solid #c3c4bc;
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
     height: 32px;
}

#evouchers .home-filters .filter-wrapper {
     background: none repeat scroll 0% 0% transparent;
     float: left;
     font-size: 12px;
     margin-right: 1px;
     width: 214px;  
}

#evouchers .home-filters .filter-wrapper:first-child {
     margin-left: 0px;
}

#evouchers .home-filters .filter-wrapper:first-child .filter-ddown {
     /*border-top-left-radius: 6px;*/
}

#evouchers .home-filters .filter-current {
     border-right: 1px solid #bbbcb5;
     padding: 0px 55px 0px 10px;
     /*width: 146px;*/
}

#evouchers .home-filters .filter-current .count {
     right: 34px;
}

#evouchers .home-filters .filter-ddown {
     border-top-left-radius: 0px;
     width: 176px;
}

#evouchers .home-filters .filter-ddown li {
     padding: 0px 10px;
}

#evouchers .home-filters #filter-date {
     width: 141px;
}

#evouchers .home-filters #filter-date .filter-current {
     padding-right: 34px;
     width: 192px;
}

#evouchers .home-filters #filter-date .filter-ddown {
     width: 106px;
}

#evouchers .home-filters .date-range {
     border-right: 1px solid #bbbcb5;
     height: 28px;
     padding: 4px 4px 0px;
     width: 212px;
}

#evouchers .home-filters .date-range .txt-input {
     float: left;
     margin-right: 4px;
     width: 83px;
}

#evouchers .home-filters .date-range .txt-input input {
     font-size: 12px;
}

#evouchers .home-filters .date-range .txt-input input.error {
     background-position: 100% 3px;
     padding-right: 20px;
     width: 76%;
}

#evouchers .home-filters .date-range .button.refresh {
     border-radius: 3px;
     cursor: pointer;
     float: left;
     height: 24px;
     margin: 0px;
     padding: 0px;
     position: relative;
     width: 23px;
}

#evouchers .home-filters .date-range .button.refresh::-moz-focus-inner {
     border: 0px none;
     padding: 0px;
}

#evouchers .home-filters .date-range .button.refresh .button-inner {
     height: 24px;
     line-height: 24px;
     margin: 0px;
     padding: 0px;
     position: static;
     width: 23px;
}

#evouchers .home-filters .date-range .button.refresh .button-icon {
     left: 5px;
     top: 4px;
}

#evouchers .home-filters .date-range .sep {
     float: left;
     margin-right: 4px;
}

#evouchers .home-data {
     background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 31px;
}

#evouchers .home-data table {
     border-collapse: collapse;
     table-layout: fixed;
     width: 100%;
}

#evouchers .home-data table th, #evouchers .home-data table td {
     font-size: 13px;
     line-height: 14px;
     padding: 6px 8px 2px;
     vertical-align: middle;
}

#evouchers .home-data table .status {
     line-height: normal;
     margin-bottom: 3px;
}

#evouchers .home-data table .icon-column {
     /*padding-left: 0px;*/
     /*padding-right: 0px;*/
     /*width: 28px;*/
     width: 37px;
}

#evouchers .home-data table .icon-column .icon {
     margin: 2px auto 0px;
}

#evouchers .home-data table .column2 {
     width: 108px;
}

#evouchers .home-data table .column3 {
     width: 120px;
}

#evouchers .home-data table .column4 {
     width: 35%;
}

#evouchers .home-data table .column5 {
     width: 65%;
}

#evouchers .home-data table .column6 {
     width: 90px;
}

#evouchers .home-data table .column7 {
     width: 145px;
}

#evouchers .home-data .data-head {
     border-top: 1px solid #c3c4bd;
     height: 36px;
     z-index: 20;
}

#evouchers .home-data .data-head td {
     background: none repeat scroll 0% 0% #eaebe4;
     border-left: 1px solid #dadbd7;
     border-right: 1px solid #dadbd7;
     font-weight: bold;
}

#evouchers .home-data .data-head .column7 {
     border-right: 0px none;
}

#evouchers .home-data .data-head table .tick {
     display: none;
}

#evouchers .home-data .data-head table.has-tick .tick {
     border-left: 0px none;
     display: table-cell;
     padding: 0px;
     width: 14px;
}

#evouchers .home-data .data-body {
     border-top: 1px solid #c3c4bd;
     bottom: 0px;
     left: 0px;
     overflow: auto;
     position: absolute;
     right: 0px;
     top: 38px;
     z-index: 10;
}

#evouchers .home-data .data-body td {
     -moz-border-bottom-colors: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     border-color: #c3c4bd #eaebe6;
     border-image: none;
     border-left: 1px solid #eaebe6;
     border-right: 1px solid #eaebe6;
     border-style: solid;
     border-width: 1px;
     /*height: 28px;*/
     padding: 10px;
}

#evouchers .home-data .status {
     margin-left: 0px;
}

#evouchers .home-data .no-data {
     display: none;
}

#evouchers .home-data.empty {
     border-bottom: 0px none;
}

#evouchers .home-data.empty .data-head, #evouchers .home-data.empty .data-body {
     display: none;
}

#evouchers .home-data.empty .no-data {
     color: #666666;
     display: block;
     font-size: 18px;
     font-weight: bold;
     left: 0px;
     margin-top: -64px;
     padding-top: 34px;
     position: absolute;
     right: 0px;
     text-align: center;
     top: 50%;
}