#script-warning {
	display: none;
	background: #eee;
	border-bottom: 1px solid #ddd;
	padding: 0 10px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: red;
}

#loading {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
}

#calendar {
	/*max-width: 900px;*/
	margin: 10px auto;
	padding: 0 10px;
}

td.fc-axis {
	width: 53px !important;
}

#calendar-holder .form-content {
	top: 35px !important;
	bottom: 0px !important;
}

.fc-center {
	font-size: 20px;
	font-weight: bold;
}

.fc-day-header {
	font-size: 15px;
	font-weight: bold;
}

.bg-red {
	background-color: red;
}

.e-appointment {
	background-color: #CE5B5B;
}

.e-booking {
	background-color: #5B81CE;
}

a.fc-event {
	padding: 5px;
}

a.fc-event:hover {
	text-decoration: none;
}